.puzzle {
  background: #011627;
}

.error {
  fill: #E71D36;
}

.foreground {
  fill: #FDFFFC;
}

.highlight {
  fill: #A7C6DF;
}

.focus {
  fill: #6D98BA;
}

.translate-center {
  transform: translate(-50%, -50%);
}
